.block-title {
  color: $grey;
  font-size: 16px;
  font-weight: normal;
  box-shadow: inset 0 1px 2px 0 $light-aqua;
  margin: 0;
  line-height: 24px;
  height: max-content;
  padding: 16px 15px;
  background-image: linear-gradient(to right, $light-grey, $white);
}
@media (min-width: 768px) {
  padding-left: 20px;
}
@media (min-width: 1120px) {
  padding-left: 30px;
}

.header-title {
  display: inline-block;
  font-family: "TTLakes-Bold", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 0 10px;
  border-left: 4px solid $aqua;
  border-top: 5px solid $white;
  border-bottom: 5px solid $white;
}
