@font-face {
  font-family: "TTLakes-Bold";
  src: local('TTLakes-Bold'),
  local('TT Lakes Bold'),
  local('TTLakes Bold'),
  local('TT-Lakes-Bold'),
  url("../fonts/TTLakes-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TTLakes-Medium";
  src: local('TTLakes-Medium'),
  local('TT Lakes Medium'),
  local('TTLakes Medium'),
  local('TT-Lakes-Medium'),
  url("../fonts/TTLakes-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TTLakes-Regular";
  src: local('TTLakes-Regular'),
  local('TT Lakes Regular'),
  local('TTLakes Regular'),
  local('TT-Lakes-Regular'),
  url("../fonts/TTLakes-Regular.ttf") format("truetype");
}
