.icon-button {
  border: none;
  padding: 0;
  background-color: inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-duration: 300ms;
  transition-property: opacity, transform;

  .icon-button__image {
    width: 40px;
    height: 40px;
  }
}

.icon-button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.go-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: $white url("../img/icons/go.svg") no-repeat;
  transition-duration: 300ms;
  transition-property: opacity, transform;
}

.go-icon:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
