.prices {
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;

  .prices-container {
    height: 250px;
    margin: 0;
    padding-top: 15px;
    position: relative;

    .swiper-shadow {
      height: 250px;
    }

    .price-list__item--designation--table-header {
      display: none;
    }

    .price-list {
      height: 250px;
      margin: 0;
      padding-left: 15px;

      .swiper-slide {
        width: 260px;
        height: 200px;
        padding: 0 15px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border: 1px solid $border-grey;
        border-radius: 5px;
        background-color: $white;

        font-family: TTLakes-Medium, 'sans-serif';
        font-size: 14px;

        .price-list__text:nth-child(1):before {
          content: 'Ремонтные услуги';
          display: block;
          font-weight: 500;
          margin-bottom: 3px;
          color: $grey;
          opacity: 0.72;
        }

        .price-list__text:nth-child(2):before {
          content: 'Цена';
          display: block;
          font-weight: 500;
          margin-bottom: 3px;
          color: $grey;
          opacity: 0.72;
        }

        .price-list__text:nth-child(3):before {
          content: 'Срок';
          display: block;
          font-weight: 500;
          margin-bottom: 3px;
          color: $grey;
          opacity: 0.72;
        }

        .price-list__text {
          margin-bottom: 0;
        }

        .price-list__submit-button {
          position: absolute;
          right: 15px;
          bottom: 15px;

          width: 120px;
          box-shadow: 0 4px 4px 0 $grey;
        }
      }
    }
  }

  .prices__text {
    padding: 0;
    margin: 0 25px 0 15px;
    max-width: 420px;
  }

  .prices__offer-link {
    display: block;
    margin-top: 15px;

    font-family: TTLakes-Medium, 'sans-serif';
    font-size: 16px;

    .prices__offer-icon {
      position: relative;
      top: 10px;
    }
  }
}

@media (min-width: 768px) {
  .prices {
    margin-bottom: 30px;

    .prices-container {
      padding: 25px 24px;
      height: 400px;
      overflow: hidden;

      .price-list__item--designation--table-header {
        display: grid;
        grid-template-columns: minmax(370px, 3fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(120px, 1fr);

        height: 30px;
        padding-left: 20px;
        margin-bottom: 15px;

        background-color: $light-grey;
        color: $grey;
        font-family: TTLakes-Medium, 'sans-serif';
      }

      .price-list {
        height: 325px;
        min-width: 720px;
        padding: 0 0 0 3%;

        display: grid;
        grid-template-rows: repeat(5, 65px);
        background-color: $white;
        border-radius: 5px;

        .swiper-slide {
          height: 65px;
          width: 97%;
          padding: 10px 0 0 0;
          display: grid;

          grid-template-columns: minmax(370px, 3fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(120px, 1fr);
          border: none;
          border-radius: 0;
          border-bottom: 2px solid $border-grey;

          .price-list__text:nth-child(n):before {
            content: none;
            height: 0;
          }

          .price-list__submit-button {
            bottom: 15px;
            right: 0;
            box-shadow: none;
          }

        }

        .swiper-slide:nth-child(5) {
          border-bottom: none;
        }
      }
    }

    .prices__text {
      margin-left: 25px;
      margin-top: 20px;
    }
  }
}

@media (min-width: 1120px) {
  .prices {
    margin-bottom: 50px;
    .prices-container {
      padding: 25px 30px;
    }
    .prices__text {
      margin-left: 30px;
    }
  }
}
@media (min-width: 1366px) {
  .prices {
    margin-left: 320px;
  }
}
